<% layout("/layouts/boilerplates") %>
<head>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
    rel="stylesheet"
  />
  <title>Team</title>
  <!-- font awesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <link rel="stylesheet" href="/css/team.css" />
</head>

<body>
  <!-- team -->
  <div class="responsive-container-block outer-container">
    <div class="responsive-container-block inner-container">
      <p class="text-blk section-head-text">Meet Our Team</p>
      <p class="text-blk section-subhead-text">
        We are a passionate team of tech enthusiasts dedicated to creating
        cutting-edge digital solutions.
        <!-- Our commitment to innovation and excellence drives us to deliver high-quality software that meets the
                evolving needs of our clients. -->
      </p>
      <div class="responsive-container-block">
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container"
        >
          <div class="team-card">
            <div class="img-wrapper">
              <img
                class="team-img"
                src="/images/ayushSingh.jpg"
                alt="Ayush Singh"
              />
            </div>
            <p class="text-blk name">Ayush Singh</p>
            <p class="text-blk position">Developer</p>
            <div class="social-media-links">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container"
        >
          <div class="team-card">
            <div class="img-wrapper">
              <img
                class="team-img"
                src="/images/sharma.jpg"
                alt="Ayush Sharma"
              />
            </div>
            <p class="text-blk name">Ayush Sharma</p>
            <p class="text-blk position">Developer</p>
            <div class="social-media-links">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container"
        >
          <div class="team-card">
            <div class="img-wrapper">
              <img
                class="team-img"
                src="/images/vermaproject.jpg"
                alt="Ayush Kumar"
              />
            </div>
            <p class="text-blk name">Ayush Kumar</p>
            <p class="text-blk position">Developer</p>
            <div class="social-media-links">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
        <div
          class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container"
        >
          <div class="team-card">
            <div class="img-wrapper">
              <img
                class="team-img"
                src="/images/chetanproject.jpg"
                alt="chaitanya"
              />
            </div>
            <p class="text-blk name">Chaitanya Balyan</p>
            <p class="text-blk position">Instructor</p>
            <div class="social-media-links">
              <a href="#"><i class="fa-brands fa-linkedin"></i></a>
              <a href="#"><i class="fa-brands fa-github"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
